.progressBar_form {
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
gap: 1rem;
padding: 2rem 1rem;
}

.progressBar_form input, .progressBar_form select, .progressBar_form button {
min-width: 300px;
line-height: 1.5rem;
font-size: 1.2rem;
padding:  0.5rem;
border: none;
border-radius: 5px;
}

.text_content{
min-width: 250px;
}



.progressBar_form input+input+select {
margin-left: 1rem;
}


.progressBar_form input {
 min-width: 250px;

}

.progressBar_form select {
min-width: 50px;
background-color: #fff;
cursor: pointer;
}

.progressBar_form button{
  min-width: auto;
  transition: all 0.2s ease;
  height: auto;
  }

  .progressBar_form button:hover {
background-color: rgb(192, 197, 201);
}


 @media(min-width: 768px) {
    .text_content {
        min-width: 350px;
    }
 
 }

 @media(min-width: 564px) {
    .progressBar_form div:nth-child(even) input {
        min-width: auto;
    }
 }